<div class=center>
<h1 style = "color:white">Login</h1>
<div style = "color:white">
<%= form_tag login_path do %> 
<%= label_tag :username %>
<%= text_field_tag :name %><br><br>
<%= label_tag :password %>
<%= text_field_tag :password %><br><br>
<%= submit_tag "Login" %>
<% end %>
</div>

<div style="background-color: #3399FF;">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
