<h2>News Feed</h2>

<%= button_to "my profile", user_path(@username["id"]), method: :get %> <br></br>


<%= form_tag tweets_path, method: :post do %>
    <label>Tweet:</label><br>
    <%= text_area_tag :'tweet[text]' %><br>
    <%= submit_tag "Submit Post" %><br><br>
<% end %>




<% if @current_user.feed.count > 0%>
    <% @current_user.feed.each do |tweet| %>
        <% if tweet.user %>
            <div> <%= link_to tweet.user.twitter_handle, user_path(tweet.user_id), method: :get %></div> 
                <b> <%= link_to tweet.text, tweet_path(tweet) %> <br></b>
                <%= link_to tweet.created_at, tweet_path(tweet) %> <br>
                Likes <%= tweet.likes.count %> 


            <% if tweet.like_user_ids.include?(@current_user.id)%>


            <button class="ui icon button">
            <%= link_to "â¤ï¸", like_path(tweet), method: :delete %>
            </button>

            


            <%else%>
            <button class="ui icon button">
            <%= link_to "ðŸ¤", likes_path(tweet), method: :post %>
            </button>
            <% end %>

          
                <% if @username["id"] == tweet.user.id %>
                <button class="ui icon button">
                <%= link_to  "ðŸ—‘ï¸", tweet_path(tweet), method: :delete %>
                </button>
                <% end %>
                <br><br><br><br>
            
            <% end %>
        <% end %>
    <% else %>
        No tweets to show.
        <%= link_to "Find some people to follow.", users_path %>
    <% end %>

 