<h1>Tweets</h1>

<%= button_to "my profile", user_path(@user["id"]), method: :get %> <br><br>


<%= form_tag tweets_path, method: :post do %>
    <label>Tweet:</label><br>
    <%= text_area_tag :'tweet[text]' %><br>
  
    <%= submit_tag "Submit Post" %>
<% end %>




<% @tweets.reverse.each do |tweet| %>

    <div> <%= link_to tweet.user.twitter_handle, user_path(tweet.user_id) %></div>
    <%= link_to tweet.text, tweet_path(tweet) %> <br>
    <%= link_to tweet.created_at, tweet_path(tweet) %> <br>
    Likes <%= tweet.likes.count %> </div> 
    <%= button_to "<3", likes_path(tweet), method: :post %><br>
 <% end %>

 