<div style="background-color: #3399FF;">
<div class="ui very padded container">
<div style="background-color: #3399FF;">
<h1 style = "color:white">News Feed</h1>


<div class="ui raised very padded text container">
<%= form_tag tweets_path, method: :post do %>
    <%= text_area_tag :'tweet[text]' %><br>
    <%= submit_tag "Tweet" %><br><br>
<% end %>
</div>
</div>
</div>
</div>



  
  
<div class="ui grid">


<div class="right floated eight wide column">
<div class="ui raised very padded text container segment">
<div class=left>

<% if @current_user.feed.count > 0%>
    <% @current_user.feed.each do |tweet| %>
        <% if tweet.user %>
        <div class="ui segment">
        <div class="ui right aligned container"><%= link_to tweet.created_at.to_date, tweet_path(tweet) %></div>
        <%= link_to tweet.user.twitter_handle, user_path(tweet.user_id), method: :get %>
            <div class="ui clearing divider"></div>
                <p> <%= link_to tweet.text, tweet_path(tweet) %> <br></p>

            <% if tweet.like_user_ids.include?(@current_user.id)%>


            <button class="ui compact basic icon button">
            <%= link_to "â¤ï¸", like_path(tweet), method: :delete %>
            </button>
            <a class="ui basic red left pointing label">
            <%= tweet.likes.count %> 
            </a>

            


            <%else%>
            <button class="ui compact basic icon button">
            <%= link_to "ðŸ¤", likes_path(tweet), method: :post %>
            </button>
            <a class="ui basic red left pointing label">
            <%= tweet.likes.count %> 
            </a>
            <% end %>

          
                <% if @username["id"] == tweet.user.id %>
                <button class="ui compact basic icon button">
                <%= link_to  "ðŸ—‘ï¸", delete_tweet_path(tweet), method: :delete %>
                </button>
                <% end %>
                
                
                </div>
                
                
                
            <% end %>
        <% end %>
    <% else %>
        No tweets to show.
        <%= link_to "Find some people to follow.", users_path %>
    <% end %>
    </div>
    </div>
    </div>

    <div class="four wide column">
<div class="card">
<% hashtags = ["#BidenHarris", "#GEazy", "#MoneyOrPower?", "#HungerGains"] %>
<% hashtags1 = ["#TrumpOrNaw", "#Kamauled", "#Cosmopolitan", "#Love"] %>
<% hashtags2 = ["#Pringles", "#PopFlower", "#ClimbBack", "#NewMusic"] %>
<% hashtags3 = ["#CoronaDidIt", "#WeMadeIt", "#HowWeAte500CupNoodles"] %>
<h2>Whats Happening?</h2><br>
<div class="ui divider"></div>
 <h3><a href="/tweets/trends"><%=hashtags.uniq.sample%></a></h3><br><br>
 <div class="ui divider"></div>
 <h3><a href="/tweets/trends"><%=hashtags1.sample%></a></h3><br><br>
 <div class="ui divider"></div>
<h3> <a href="/tweets/trends"><%=hashtags2.sample%></a></h3><br><br>
<div class="ui divider"></div>
 <h3><a href="/tweets/trends"><%=hashtags3.sample%></a></h3><br><br>
 <div class="ui divider"></div>
</div>
</div>
    
    </div>
    </div>
    </div>