<h1>News Feed</h1>

<%= button_to "my profile", user_path(@username["id"]), method: :get %> <br><br>


<%= form_tag tweets_path, method: :post do %>
    <label>Tweet:</label><br>
    <%= text_area_tag :'tweet[text]' %><br>
    <%= submit_tag "Submit Post" %><br><br>
<% end %>




<% @tweets.reverse.each do |tweet| %>
<% if tweet.user %>
    <div> <%= link_to tweet.user.twitter_handle, user_path(tweet.user_id), method: :get %></div> 
   <h3> <%= link_to tweet.text, tweet_path(tweet) %> <br></h3>
    <%= link_to tweet.created_at, tweet_path(tweet) %> <br>
    Likes <%= tweet.likes.count %> 

    <%= button_to "â¤ï¸", likes_path(tweet), method: :post %>
    <% if @username["id"] == tweet.user.id %>
    <%= button_to "ðŸ—‘ï¸", tweet_path(tweet), method: :delete %>
    <% end %>
<br><br><br><br>
    <% end %>
 <% end %>

 