<h2>Tweet</h2>
<%= form_for @tweet do |f| %>
	<ul>
		<% if @tweet.errors.any? %>
			<%= @tweet.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
    </ul>
    <% end %>

<%= form_for @tweet do |f| %>
    <%=f.text_field :text %><br><br>
    <%= f.submit "Tweet" %>
<% end %>