<div class=center>
<div style="background-color: #3399FF;">
<h2 style = "color:white"> Edit Profile </h2>
<br>
</div>
<br>
<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%=f.text_field :name %><br><br>
    <%=f.label :password %>
    <%=f.text_field :password %><br><br>
    <%=f.label :handle %>
    @<%=f.text_field :handle %><br><br>
    <%=f.label :bio %>
    <%=f.text_field :bio %><br><br>
    <%=f.label :birthday %>
    <%=f.date_field :birthday %><br><br>
    <%= f.submit  %>
<% end %>

<%= link_to 'Delete',  destroy_path(@user), method: :delete%>
</div>