<h2>Create a New User Account</h2>

<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |msg| %>
                <a class="ui red basic label"><%= msg %></a><br>
            <% end %>
            <br>
		<% end %>
    <% end %>

<%= form_for @user do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %><br><br>
    <%=f.label :password %>
    <%=f.text_field :password %><br><br>
    <%=f.label :handle %>
    @<%=f.text_field :handle %><br><br>
    <%=f.label :bio %>
    <%=f.text_field :bio %><br><br>
    <%=f.label :birthday %>
    <%=f.date_field :birthday %><br><br>
    <%= f.submit "Create Your Account" %>
<% end %>

<div style="background-color: #3399FF;">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>



