<h2>Create a New User Account</h2>

<%= form_for @user do |f| %>
	<ul>
		<% if @user.errors.any? %>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
    </ul>
    <% end %>

<%= form_for @user do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %><br><br>
    <%=f.label :password %>
    <%=f.text_field :password %><br><br>
    <%=f.label :handle %>
    @<%=f.text_field :handle %><br><br>
    <%=f.label :bio %>
    <%=f.text_field :bio %><br><br>
    <%=f.label :birthday %>
    <%=f.date_field :birthday %><br><br>
    <%= f.submit "Create Your Account" %>
<% end %>




