<h1> Profile Page</h1>

<%= link_to "settings", edit_user_path(@user) %><br>

<%= link_to "my feed", tweets_path %><br><br>

<div> <%= @user.name.titlecase %> </div>
<div> <%= @user.twitter_handle %> </div><br>
<div> bio: <%= @user.bio %> </div><br>
<div> birthday: <%= @user.birthday %> </div><br>



<h3> Tweets </h3>

    <h3> Number of Tweets: <%= @user.tweets.count %> </h3>

    <% @user.tweets.each do |tweet| %>
        <div> <%= link_to @user.twitter_handle, user_path(@user) %></div>
         <%= link_to tweet.text, tweet_path(tweet) %> <br>
         <%= link_to tweet.created_at, tweet_path(tweet) %> <br>
         Likes <%= tweet.likes.count %> </div> <br><br>

    <% end %>






