<!DOCTYPE html>
<html>
  <head>
    <title>Twitter2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  </head>
  <style>
  .sidenav {
  height: 100%; 
  width: 150px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #3399FF; 
  overflow-x: hidden; 
  padding-top: 45px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.header {
  text-align: right;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.column {
  float: right;
  width: 33.33%;
}

.row:after
 {
  content: "";
  display: table;
  clear: both;
}

.card {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 7%;
    text-align: center;
    background-color: #f1f1f1;
  }


</style>

  <body>


  <% if @current_user %>
<div class="sidenav">
<a href="/tweets"><i class="home icon"> </i></a>
<a href="/users"><i class="at icon"></i></a>
<a href="/users/<%= @current_user.id%>"><i class="user icon"></i></a>
<a href="/users/<%= @current_user.id%>/edit"><i class="cog icon"></i></a>
</div>
 <% end %>
 <div style="background-color: #3399FF;">
 <div class="header">
 <%= link_to logout_path, method: :delete, class: "navbar-item" do %>
   <b  style= "color: white">Logout</b>
 <% end %>
 </div>
  <div class=center>
      <% if @current_user %>
      <b class="navbar-brand">
       <b style= "color: white"><i class="large twitter square icon"></i></b>
       </div>
       </div>
       
       <% else %>
  <div class=center>
  <b class="navbar-brand">
  <b style= "color: white"><i class="massive twitter square icon"></i></b>
</div>
      
      <%end%>
 

    <%= yield %>
  </body>
</html>
